<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resturant.name %>
</p>

<p>
  <strong>Resturant type:</strong>
  <%= @resturant.resturant_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @resturant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resturant.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resturant.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resturant.phone %>
</p>

<p>
  <strong>Custom fields:</strong>
  <%= @resturant.custom_fields %>
</p>

<%= link_to 'Edit', edit_resturant_path(@resturant) %> |
<%= link_to 'Back', resturants_path %>
